
.gitattributes
klasslista-21.txt
obj/Debug/net5.0-windows/MainWindow.g.i.cs
obj/Debug/net5.0-windows/Laboration 4_MarkupCompile.i.lref
obj/Debug/net5.0-windows/Laboration 4_MarkupCompile.i.cache
obj/Debug/net5.0-windows/Laboration 4.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0-windows/Laboration 4.AssemblyInfoInputs.cache
obj/Debug/net5.0-windows/Laboration 4.AssemblyInfo.cs
obj/Debug/net5.0-windows/App.g.i.cs
obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
